<?xml version="1.0" ?>
<model>
    <name>simple_shelf</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>LaVinSe</name>
        <email>laurentiusvincent@gmail.com</email>
    </author>
    <description>
        A simple shelf model for the warehouse world.
    </description>
</model>